* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}

body {
    display: flex;
}

.menu {
    background-color: chocolate;
    width: 15%;
    height: 100vh;
    }

.conteiner {
    display: flex;
    flex: auto;
}

header {
    background-color: #016fa1;
    text-align: center;
    width: 15%;
    height: 100px;
}

main {
    background-color: blueviolet;
}

aside {
    background-color: #016fa1;
    text-align: center;
}

footer {
    background-color: #016fa1;
    text-align: center;
    width: 15%;
    height: 100px;
}
